*.pyc
__pycache__/
libs/__pycache__/
libs/models/__pycache__/
datasets/
export/
visualization/
*.log
*.png
*.mdl
*.dict
*.csv
*.pkl
*.yapf
*.dt
checkpoints/
wandb/
cache/
records/
tmp/
old/
models/
data/